---
type Props = {
  dateStart: string;
  dateEnd: string;
  title: string;
  company: string;
  description: string;
};

const { dateStart, dateEnd, title, company, description } = Astro.props;
---

<div
  class="border-border group w-full border-b transition-colors duration-300 hover:bg-primary"
>
  <article
    class="container grid h-36 max-w-screen-lg grid-cols-12 items-center text-3xl"
  >
    <span
      class="col-span-4 transition-colors duration-150 group-hover:text-background"
      >{dateStart} - {dateEnd}</span
    >
    <div class="col-span-8 transition-all duration-150 group-hover:hidden">
      <p class="">{title}</p>
      <p class="text-base">{company}</p>
    </div>

    <p
      class="col-span-8 hidden text-base text-background transition-all duration-300 group-hover:block"
    >
      {description}
    </p>
  </article>
</div>
