---
type Props = {
  dateStart: string;
  dateEnd: string;
  title: string;
  company: string;
  description: string;
};

const { dateStart, dateEnd, title, company, description } = Astro.props;
---

<div
  class="group w-full border-b border-border py-4 font-semibold transition-colors duration-300 hover:bg-primary md:py-0"
>
  <article
    class="container flex max-w-screen-lg flex-col gap-2 text-xl md:grid md:h-36 md:grid-cols-12 md:items-center md:text-3xl"
  >
    <span
      class="transition-colors duration-150 group-hover:text-background md:col-span-4"
      >{dateStart} - {dateEnd}</span
    >
    <div class="transition-all duration-150 group-hover:hidden md:col-span-8">
      <p class="">{title}</p>
      <p class="text-base">{company}</p>
    </div>

    <p
      class="hidden text-base text-background transition-all duration-300 group-hover:block md:col-span-8"
    >
      {description}
    </p>
  </article>
</div>
